.section-about {
    padding: 25rem 0;
    
    /*
        Give section-about a negative top margin so that it moves up.
        -20vh is the difference between the height of the header (95vh)
        and where the bottom left corner of the wedge clipped out of it
        stops (75vh).
    */
    margin-top: -20vh;
    background-color: $color-grey-light-1;
}

.section-features {
    padding: 20rem 0;
    margin-top: -10rem;
    background-size: cover;
    background-image: linear-gradient(
            to right bottom,
            rgba($color-primary-light, 0.8), 
            rgba($color-primary-dark, 0.8)),
        url(../img/nat-4.jpg);
    
    transform: skewY(-7deg);

    /* Select everything that is a direct child of section-features. */
    & > * {
        transform: skewY(7deg); 
    }
}

.section-tours {
    padding: 25rem 0 15rem 0;
    margin-top: -10rem;
    background-color: $color-grey-light-1;
}